body {
    background: #f5fbff;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Ubuntu Mono', monospace, fixed, sans-serif;
    overflow-x: hidden;
}

h1 {
    padding: 10px;
    color: #808080;	
}

h2 {
    padding: 10px;
    color: #808080;	
}

ul li {
    list-style: none;
}

#content {
    width: 70%;
}

#content > ul {
    padding: 0 0 0 10px;
}

#events {
    width: 70%;
}

#events > ul {
    padding: 0 0 0 10px;
}

#sidebar {
    width: 25%;
    position: fixed;
    right: 35px;
    top: 78px;
}

#sidebar a {
    font-size: 15px;
    color: #68c2ff;
    padding: 5px;
    text-decoration: none;
    display: block;
}

#sidebar a:hover {
    color: #e1e1e1;    
}

#sidebar a:active {
    color: #fff;	
}

code {
    display: block;
    background: #fff;
    padding: 20px;
    white-space: pre-line;
    border: 3px dotted #e1e1e1;
    font-family: 'Ubuntu Mono', monospace, fixed, sans-serif;
}

textarea {
    display: block;
    height: 200px;
    width: 100%;
    margin: 1em 0;
    max-width: 600px;
}
